<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-5">
            <form   (ngSubmit)="AddAuthor()">
               
                <div class="form-group ">
                    <label class="p-3" >Author</label>
                    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="authorItem.name" placeholder="Author" >
                  </div>
                  <div class="form-group ">
                    <label class="p-3" >Genre</label>
                    <input type="text" class="form-control" name="genre" id="genre" placeholder="Genre" [(ngModel)]="authorItem.genre" >
                  </div>                   
                  <div class="form-group ">
                    <!-- <label for="img">Select image:</label>
                    <input type="file" id="img" name="image" accept="image/*" [(ngModel)]="authorItem.image" placeholder="Author" required>
                                 -->
                    <label class="p-3" >Image</label>
                    <input type="text" class="form-control" name="image" id="image" placeholder="image" [(ngModel)]="authorItem.image">
                    </div>
                <div class="form-group text-center">
                <button type="submit" class="btn btn-info btn-lg " name="" >Submit</button>
             </div>
              </form>

        </div>

    </div>

</div>