
<!-- <div  class="container text-center bod home mt-5">
   
<div class="row center  ">
<div class="bod h-5 mb-5 mt-5 ">

    <div class="row"> 
        <div class="col-lg-1" >
        <img src="./assets/images/cherrytree.jpg" class="rounded-circle ml-1" width="200" height="150" alt="Cinque Terre">
        
            

        
        </div>
        
    </div> 
     
    </div>
   
</div>
   
  </div> -->
  <div class="container mt-5">
    <h4>The God of Small Things</h4>
   <div class="row text-center mb-3">
       <div class="col-md-4">
           <div class="imgAbt">
               <img src="./assets/images/godofsmallthings.jpg" style="width:200px;height:200px" class="rounded-circle"/>
           </div>
       </div>
       <div class="col-xs-9">
        <h4><span class="label label-default">Arundhati Roy</span></h4>
        <h5><span class="label label-default">Novel</span></h5>

    </div>
       <div class="col-md-4">
           <!-- <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p> -->
       </div>
       <div class="col-xs-3"></div>
    </div>
    <br><br>
   
</div>
<div class="container">
    <h4>Cherry Tree</h4>
   <div class="row text-center mb-3">
       <div class="col-md-4">
           <div class="imgAbt">
               <img src="./assets/images/cherrytree.jpg" style="width:200px;height:200px" class="rounded-circle"/>
           </div>
       </div>
       <!-- <div class="row"> -->
        <div class="col-xs-9">
          <h4><span class="label label-default">Ruskin Bond</span></h4>
          <h5><span class="label label-default">Story</span></h5></div>
        </div>
       <div class="col-md-4">
           <!-- <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p> -->
       </div>
       <div class="col-xs-3"></div>
    
    <br><br>   
</div>
<div class="container">
    <h4 >Wings of Fire</h4>
   <div class="row text-center mb-3">
       <div class="col-md-4">
           <div class="imgAbt">
               <img src="./assets/images/wingsoffire.jpg" style="width:200px;height:200px" class="rounded-circle" />
           </div>
       </div>
       <div class="col-xs-9">
        <h4><span class="label label-default"> A. P. J. Abdul Kalam</span></h4>
        <h5><span class="label label-default">Autobiography</span></h5>
    </div>
     <div class="col-md-4">
         <!-- <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a combination of a .clearfix and o</p> -->
     </div>
     <div class="col-xs-3"></div>
  </div>
  <br><br>   
</div>
<!-- <div class="row">    
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <a class="story-title" href="#"><img alt="" src="images/godofsmallthings.jpg" style="width:100px;height:100px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9">
      <h3>The God of Small Things</h3>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default">Arundhati Roy</span></h4><h4>
          
          </h4></div>
        <div class="col-xs-3"></div>
      </div>
      <br><br>
    </div>
  </div>
  <hr> -->
  
 